<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>openMarchante</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
  <header id="barsup"><!-- Considerar este encabezado como una barra
               de estado superior. Se tiene que  -->
    <aside id="moneda">$v</aside>
    <nav id="menuStat">Tel | User | Deseos | Carrito | Salir</nav>
    <div class="reset"></div>
  </header>

  <article>
    <header>
      <img src="img/logo.jpg" alt="logo" />
      <form action="index.html" method="get">
        <input type="text" name="palabras" required placeholder="Palabras de búsqueda" />
        <input type="submit" value="[icon]">
      </form>
      <aside id="carStatus">
        [icon] 0 item(s) - $0.00
      </aside>
    </header>
    <nav>
      <ul>
        <li>Desktops
          <ul>
            <li>PC (0)</li>
            <li>MAC (1)</li>
            <li>Linux (5)</li>
            <li class="sep"></li>
            <li>Ver todo</li>
          </ul>
        </li>
        <li>Laptops y Notebooks
          <ul>
            <li>PC (0)</li>
            <li>MAC (0)</li>
            <li>Linux (2)</li>
            <li class="sep"></li>
            <li>Ver todo</li>
          </ul>
        </li>
        <li>Componentes
          <ul>
            <li>Ratones (1)</li>
            <li>Monitores (3)</li>
            <li>Impresoras (0)</li>
            <li>Scanners (1)</li>
            <li>Web cams (0)</li>
            <li class="sep"></li>
            <li>Ver todo</li>
          </ul>
        </li>
        <li>Tablets</li>
        <li>Software</li>
        <li>Smartphones</li>
        <li>Camaras</li>
        <li>Reproductores MP3
          <ul>
            <li>test 1 (1)</li>
            <li>test 2 (3)</li>
            <li>test 3 (0)</li>
            <li>test 4 (1)</li>
            <li>test 5 (0)</li>
            <li>test 6 (1)</li>
            <li>test 7 (3)</li>
            <li>test 8 (0)</li>
            <li>test 9 (1)</li>
            <li>test 10 (0)</li>
            <li class="sep"></li>
            <li>Ver todo</li>
          </ul>
        </li>
      </ul>
    </nav>

    <header id="ruta">
      [icon house|inicio] > Laptops y Notebooks >
    </header>

    <section><!-- contenido principal -->
      <div id="banner">
        colocar imagen del tamaño del banner
      </div>
      <div id="ofertas">
        <h3>Ofertas</h3>
        <aside><!-- Este aside muestra un producto -->
          <img src="img/productos/0001.jpg" alt="macbook" />
          <h4>Macbook</h4>
          <p>Intel Core 2 Duo processor Powered by an
            Intel Core 2 Duo processor at speeds up to
            2.1..</p>
          <p><strong>$16020.00</strong></p>
          <div class="barinf">
            <aside>[icon car] Adicionar a carrito</aside>
            <aside>[icon heart] Adicionar a lista de deseos</aside>
          </div>
        </aside>
        <aside><!-- Este aside muestra un producto -->
          <img src="img/productos/0002.jpg" alt="monitor" />
          <h4>Monitor</h4>
          <p>Monitor samsung de tecnolgía 4K para ver
             a esos chicos casi en vivo...</p>
          <p><strong>$16020.00</strong></p>
          <div class="barinf">
            <aside>[icon car] Adicionar a carrito</aside>
            <aside>[icon heart] Adicionar a lista de deseos</aside>
          </div>
        </aside>
        <aside><!-- Este aside muestra un producto -->
          <img src="img/productos/0003.jpg" alt="impresora" />
          <h4>Impresora</h4>
          <p>Impresora HP de 5 cartuchos para imprimir imágenes
              3D con textura de las chicas mostrada en el...</p>
          <p><strong>$1020.00</strong></p>
          <div class="barinf">
            <aside>[icon car] Adicionar a carrito</aside>
            <aside>[icon heart] Adicionar a lista de deseos</aside>
          </div>
        </aside>
        <aside><!-- Este aside muestra un producto -->
          <img src="img/productos/0004.jpg" alt="camara" />
          <h4>Camara</h4>
          <p>Cámara para tomar fotos 4DX de los chicos y las
             chicas para tener esos bellos recuerdos...</p>
          <p><strong>$6000.00</strong></p>
          <div class="barinf">
            <aside>[icon car] Adicionar a carrito</aside>
            <aside>[icon heart] Adicionar a lista de deseos</aside>
          </div>
        </aside>
      </div>
      <div id="marcas"><!-- este es un slide de marcas -->
          <div>
            <img src="img/marcas/001.jpg" alt="marca 1" />
            <img src="img/marcas/002.jpg" alt="marca 2" />
            <img src="img/marcas/003.jpg" alt="marca 3" />
          </div>
      </div>
    </section>
  </article>

  <footer>
    <aside>
      <h3>Información</h3>
      <ul>
        <li>Acerca de</li>
        <li>Información de envío</li>
        <li>Políticas de privacidad</li>
        <li>Términos y condiciones</li>
      </ul>
    </aside>
    <aside>
      <h3>Servicio al cliente</h3>
      <ul>
        <li>Contacto</li>
        <li>Devoluciones</li>
      </ul>
    </aside>
    <aside>
      <h3>Extras</h3>
      <ul>
        <li>Marca</li>
        <li>Sugerencias</li>
        <li>Afiliados</li>
        <li>Especiales</li>
      </ul>
    </aside>
    <aside>
      <h3>Mi cuenta</h3>
      <ul>
        <li>Mi cuenta</li>
        <li>Historial de pedidos</li>
        <li>Lista de deseos</li>
        <li>Noticias</li>
      </ul>
    </aside>
  </footer>

  <!-- si es necesario acá incluimos los script en JS -->
  <script>
  </script>
  </body>
</html>
